        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #333; /* Dark text color */
            background-color: #f3f4f6; /* Light gray background */
        }
        
        header {
            position: relative;
            width: 100%;
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
            box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add subtle shadow */
        }
        
        .navbar-brand {
            font-weight: bold;
            color: #333; /* Dark gray text */
        }
        
        .navbar-nav .nav-link {
            color: #333; /* Dark gray text */
        }
        
        input.form-control {
            padding: 14px 20px;
            border-radius: 30px;
        }

        /* Style for the facility containers */
        .facility-container {
            background-color: #fff;
            padding: 20px;
            margin: 20px 0;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: transform 0.3s ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
        .facility-container:hover {
            transform: translateY(-5px);
        }
    
        .facility-container h3 {
            color: #333;
            margin-bottom: 10px;
        }
    
        .facility-container img {
            width: 100%; /* Make the image fill the container */
            border-radius: 10px;
            margin-bottom: 10px; /* Add some space between the image and the title */
        }    
        
        footer {
            background-color: #038fae; /* Blueish footer color */
            color: #fff; /* White text color */
            text-align: center;
            padding: 1em 0;
            width: 100%;
            position: relative;
            bottom: 0;
            margin-top: -1px; /* Adjust margin to remove the gap */
        }

        /* Login Modal Styles */
        .modal-content {
            border-radius: 20px;
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
        }

        .modal-header {
            border-bottom: none;
            background-color: #038fae;
            color: #fff;
            border-radius: 20px 20px 0px 0px;
        }

        .modal-title {
            font-size: 24px;
        }

        .close {
            color: #fff;
            opacity: 1;
            font-size: 30px;
        }

        .close:hover {
            color: #fff;
            opacity: 0.8;
        }

        .modal-body {
            padding: 30px;
        }

        .btn-login {
            border-radius: 20px;
            padding: 10px 20px;
            background-color: #038fae;
            border: none;
            color: #fff;
        }

        .btn-login:hover {
            background-color: #057193;
            color: #fff;
        }

        .form-group {
            position: relative;
        }

        .form-control {
            border-radius: 30px;
            padding: 14px 20px;
        }

        .form-control-placeholder {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            pointer-events: none;
            transition: top 0.3s, font-size 0.3s;
        }

        .form-control:focus + .form-control-placeholder,
        .form-control:valid + .form-control-placeholder {
            top: 10px;
            font-size: 12px;
        }

        input#email.form-control, input#password.form-control, input#username.form-control, input#signupPassword.form-control, input#confirmPassword.form-control, input#signupEmail.form-control {
            margin-bottom: 20px;
            padding: 20px 20px;
        }

        /* Center the avatar image */
        .modal-body .avatar-container {
            text-align: center;
            margin-bottom: 25px;
        }

        /* Avatar image style */
        .avatar-container img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            border: 3px solid #038fae; /* Border color */
            padding: 3px; /* Space between the border and the image */
        }

        /* Adjust text color for links */
        .modal-body .signup-login-text {
            color: #333; /* Dark gray text */
        }
