body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Dark text color */
    background-color: #f3f4f6; /* Light gray background */
}

header {
    position: relative;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add subtle shadow */
}

.navbar-brand {
    font-weight: bold;
    color: #333; /* Dark gray text */
}

.navbar-nav .nav-link {
    color: #333; /* Dark gray text */
}

footer {
    background-color: #038fae; /* Blueish footer color */
    color: #fff; /* White text color */
    text-align: center;
    padding: 1em 0;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: -1px; /* Adjust margin to remove the gap */
}

/* Additional custom styles specific to food court page */
.food-stall-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.food-stall-info h1 {
    color: #333;
}

.food-stall-info p {
    color: #666;
}

.food-stall-images {
    margin-top: 20px;
    text-align: center; /* Center images */
}

.food-stall-images img {
    max-width: 90%;
    margin: auto; /* Center images */
    margin-top: 20px; /* Added margin top */
    margin-bottom: 20px;
    border-radius: 10px;
}

.mini-navbar {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    display: table;
    justify-content: center;
    margin: auto;
}

.mini-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.mini-navbar ul li:last-child{
    margin-right: 0;
}

.mini-navbar ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.mini-navbar ul li a:hover {
    background-color: #e9ecef;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-pane {
    margin-top: 10px;
    margin-bottom: 10px;
}

.review-container {
    margin-bottom: 20px;
}

.review {
    padding: 20px;
    background-color: #f9f9f9; /* Light gray background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.review p {
    margin-bottom: 10px;
}

/* Add margin-top to the h1 tag */
h1.food-stall-heading {
    margin-top: 24px;
    margin-bottom: 20px;
}

div.food-stall-info{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}


/* Login Modal Styles */
.modal-content {
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

.modal-header {
    border-bottom: none;
    background-color: #038fae;
    color: #fff;
    border-radius: 20px 20px 0px 0px;
}

.modal-title {
    font-size: 24px;
}

.close {
    color: #fff;
    opacity: 1;
    font-size: 30px;
}

.close:hover {
    color: #fff;
    opacity: 0.8;
}

.modal-body {
    padding: 30px;
}

.btn-login {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #038fae;
    border: none;
    color: #fff;
}

.btn-login:hover {
    background-color: #057193;
    color: #fff;
}

.form-group {
    position: relative;
}

.form-control {
    border-radius: 30px;
    padding: 14px 20px;
}

.form-control-placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    pointer-events: none;
    transition: top 0.3s, font-size 0.3s;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    top: 10px;
    font-size: 12px;
}

input#email.form-control, input#password.form-control, input#username.form-control, input#signupPassword.form-control, input#confirmPassword.form-control, input#signupEmail.form-control {
    margin-bottom: 20px;
    padding: 20px 20px;
}

/* Center the avatar image */
.modal-body .avatar-container {
    text-align: center;
    margin-bottom: 25px;
}

/* Avatar image style */
.avatar-container img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid #038fae; /* Border color */
    padding: 3px; /* Space between the border and the image */
}

/* Adjust text color for links */
.modal-body .signup-login-text {
    color: #333; /* Dark gray text */
}

/* Review button container */
.review-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Adjust margin as needed */
}

/* Review button styles */
#write-review-btn {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#write-review-btn:hover {
    background-color: #0056b3; /* Button background color on hover */
}